doctype html
html(lang="en")
  head
    title= title
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    a(href='logout') logout
    .container
      h1 home
      button.create create
      form(method='post').hidden
        textarea(name='content')
        br
        button Submit
      ul
        for post in posts
          li(data-id="#{post.id}")
            span.content= post.content
            a(href='#').delete x
            a(href='#').edit Edit
            span= dateTransform(post.date)
            .clearfix
    .modal.hidden
      .modal_content
        h3 enter your password
        br
        input(type='password').password
        input(type='hidden').delete-id
        button.comfirm comfirm
        button.cancel cancel
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src='js/main.js')
