doctype html
html(lang="en")
  head
    title= title
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    .container
      h1 home
      ul
        for post in posts
          li.clearfix= post.content
            span= dateTransform(post.date)
            a(href='#') x
