doctype html
html(lang="en")
  head
    title= title
    link(href='main.css')
  body
    h1 login
    form(method='post')
      label username
      input(name='username')
      label password
      input(name='password', type='password')
      button Submit
    a(href="signup") signup
