doctype html
html(lang="en")
  head
    title= title
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    .container
      h1 login
      form(method='post')
        label username
        input(name='username')
        br
        label password
        input(name='password', type='password')
        br
        button Submit
        a(href="signup") signup
