doctype html
html(lang="en")
  head
    title= title
  body
    h1 signup
    form(method='post')
      label username
      input(name='username')
      label password
      input(name='password', type='password')
      button Submit
