body
  margin: 0

li
  list-style: none

.container
  width: 960px
  margin: 0 auto

  h1
    text-align: center

  ul
    width: 60%
    margin: inherit

    li
      
      a
        float: right
        text-decoration: none


.clearfix
  clear: both